nav
{
  display: flex;
  list-style-type: none;
  background-color:rgb(20, 133, 233);
  justify-content: space-around;
  border-radius: 10px;
  padding:10px;
}
.li
{
  float: left;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.list
{
  display:none;
  position: absolute;
  background-color:rgb(139, 183, 236);
  border-radius: 10px;
  min-width: 160px;
  z-index: 1;
}
.dropbtn {
  display: inline-block; 
  color: rgb(224, 230, 232);
  background-color: rgb(20, 133, 233);
  padding: 14px 16px;
  text-align: center;
}


.li:hover, .dd:hover .dropbtn {
  
  color:rgb(20, 133, 233);
  background-color: white;
  border-radius: 100px;
}

.dc{
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align:left;
  border-radius: 10px;

}
.dc:hover
{
  background-color: rgb(255, 255, 255);
}

.dd:hover .list
{
  display:block;
}


